<h1>Info del objeto process</h1>

<div class="container-fluid">
    <div class="row">
        <div class="offset-md-4 col-md-8 info__background">
            <h3>Argumentos de entrada: {{this.info.inputArguments}}</h3>
            <h3>Nombre de la plataforma: {{this.info.platform}}</h3>
            <h3>Versión de node.js: {{this.info.version}}</h3>
            <h3>Memoria total reservada (rss): {{this.info.memory}}</h3>
            <h3>Path de ejecución: {{this.info.path}}</h3>
            <h3>Process id: {{this.info.id}}</h3>
            <h3>Carpeta del proyecto: {{this.info.folder}}</h3>
        </div>
    </div>
</div>
