{{#if productsByCategory}}
<h1>Productos de la categoría {{this.category}}</h1>
 <div class="offset-md-3 col-md-9 products--grid">
    {{#each productsByCategory}}
        <div class="card" style="width: 18rem;">
            <img src={{this.thumbnail}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text">${{this.price}}</p>
                <p class="card-text">Categoria: {{this.category}}</p>
    
                <div class="products-forms">

                    <form method="GET" action="/productos/update/{{this.id}}" id="">
                        <button class="btn btn-primary">Modificar</button>
                    </form>

                    <form method="POST" action="/productos/{{this.id}}?_method=DELETE">
                        <button class="btn btn-danger" value="DELETE" name="_method">Eliminar</button>
                    </form>       

                </div>                                                                         
            </div>
        </div>
    {{/each}}

</div>

{{else}}
<div class="empty-products">
    <img src="https://cdn-icons-png.flaticon.com/512/43/43533.png" alt="">
    <h3>No hay productos cargados en la categoría {{this.category}} todavía</h3>
</div>

{{/if}}



<a href="/productos"><button class="btn btn-success">Volver a productos</button></a>