<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head") %>
    
    <body>
        <main>

            <h1>Productos</h1>

            <div class="table-container"> 
                <div class="table-padding">
            
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Foto</th>
                            </tr>
                        </thead>
            

                        <% data.forEach( (pr) => { %>
                            
                            <tbody>
                                <tr>
                                    <td><%= pr.title %></td>
                                    <td>$<%= pr.price %></td>     
                                    <td><img src= <%= pr.thumbnail %> alt= <%= pr.title %> ></td>
                                </tr>
                            </tbody>
                
                        <% }) %>

                    </table>
                </div>
            </div>

            <a href="./" class="table-button"><button class="table-button">Cargar Productos</button></a>

        </main>
    </body>
</html>